body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
  }

/* Estilos do cabeçalho */

header {
	background-color: #f2f2f2;
	padding: 10px;
}

nav ul h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font: 600;
	color: #009EE0;
	position: relative;
	text-align: center
}

nav hr {
	background-color: #f2f2f2;
	border-radius: 10px;
}

nav ul {
	color: #009EE0;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.nav-links {
	float: left;
}

nav li {
	display: inline-block;
	margin-right: 30px;
}

nav a {
	color: #009EE0;
	text-decoration: none;
}



.btn {
	display: inline-block;
	padding: 7px 7px;
	border-radius: 7px;
	text-decoration: none;
	color: #fff;
	background-color: #009EE0;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }
  
  .btn:hover {
	background-color: #fff;
	color: #009EE0;
  }
  
  .btn-account .icon-account {
	margin-right: 0px;
  }
  
  .btn-cart i {
	margin-right: 0px;
  }

/* Estilos da seção de produtos em destaque */
.featured-products {
	background-color: #fff;
	padding: 50px;
}

.featured-products h2 {
	color: #009EE0;
	font-size: 2em;
	margin-bottom: 20px;
}

.filtros {
	display: flex;
	justify-content: left;
}

.filtros p {
	margin: 0 10px;
}

.anabol {
	width: 100%;
	text-align: center;
	color: #009EE0;
}

.newsletter {
	background-color: #f2f2f2;
	padding: 10px;

}

.newsletter h1 {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font: 600;
	color: #009EE0;
	position: relative;
	text-align: center
}

.newsletter p {
	text-align: center;
}

.photoNew {
	display: flex;
	justify-content: center;
}

footer {
	background-color: #fff;
	padding: 50px;
}

footer h3 {
	color: #009EE0;
}

.final {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

.final>div {
	flex-grow: 1;
}

.catalago,
.aboutUs,
.atendi {
	margin-right: 20px;
}

.endAll {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flags {
	float: right;
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

.cta-button:hover {
	background-color: #009EE0;
	color: #E3E3E3;
}

.endAll {
	background-color: #009EE0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/*Categorias*/
#container {
	width: 100%;
	overflow: hidden;
	/* corrige o problema de altura flutuante */
}

#blocos {
	width: 10%;
	float: left;
}

.produtos {
	width: 80%;
	margin-top: -15px;
}




.block {
	background-color: #f2f2f2;
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;


}

.block h2 {
	font-size: 16px;
	margin-top: 0;
}

.block p {
	font-size: 14px;
	margin-bottom: 0;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
}

.featured-products {
	flex: 2;
}

.anabol {
	flex: 1;
}

@media (max-width: 767px) {
	.container {
		flex-direction: column;
	}

	.featured-products {
		flex-basis: 100%;
	}

	.anabol {
		flex-basis: 100%;
	}
}

#produtos {
	width: 70%;
	float: left;
}

/*Termina aqui*/

footer {
	background-color: #f2f2f2;
	padding: 50px;
}

footer h3 {
	color: #009EE0;
}

.final {
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
}

.final>div {
	flex-grow: 1;
}

.catalago,
.aboutUs,
.atendi {
	margin-right: 20px;
}

.endAll {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flags {
	float: right;
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

.endAll {
	background-color: #009EE0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}